:root {
  --section-width: 860px;
  --padding-offset: 32px;
}

body {
  color: #333;
  background: linear-gradient(90deg, #f8f8f8 0%, white 50%, #f8f8f8 100%);
}
main {
  padding: 16px;
  width: var(--section-width);
  max-width: 95vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.remove-button:hover {
  cursor: pointer;
}

.sections-container {
  width: calc(var(--section-width) - var(--padding-offset));
  max-width: 95vw;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sections-container::-webkit-scrollbar {
  display: none;
}

.sections-container .section {
  flex-shrink: 0;
  width: calc(var(--section-width) - var(--padding-offset));
  max-width: 95vw;
  max-height: 92vh;
  overflow-y: scroll;
  scroll-snap-align: start;
  margin-right: 16px;
}

@media screen and (max-width: 860px) {
  .sections-container {
    min-width: 92vw;
  }
  .sections-container .section {
    min-width: 92vw;
  }

}

a.selected {
  text-decoration: underline !important;
}