:root {
  --section-width: 860px;
  --padding-offset: 32px;
}

* {
  box-sizing: border-box;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

nav a, h3, thead td {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

html {
  height: 100%;
}

body {
  color: #333;
  background: lightgoldenrodyellow;
  /* 16px is supposed to compensate for  */
  margin: 0px;
  min-height: 100vh;
}

.sections-container {
  width: calc(var(--section-width) - var(--padding-offset));
  max-width: 95vw;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sections-container::-webkit-scrollbar {
  display: none;
}

.sections-container .section {
  flex-shrink: 0;
  width: calc(var(--section-width) - var(--padding-offset));
  max-width: 95vw;
  max-height: 92vh;
  min-height: 100%;
  overflow-y: scroll;
  scroll-snap-align: start;
  margin-right: 16px;
}

@media screen and (max-width: 860px) {
  .sections-container {
    min-width: 92vw;
  }
  .sections-container .section {
    min-width: 92vw;
  }

}
